#container_loading{
    display: flex;
    width: 60px;
    justify-content: space-between;
}
@keyframes block_1 {
    from {background-color: rgba(0, 0, 255,0.25);}
    to {
        background-color: rgba(0, 0, 255,0.45);
        transform: scaleY(1.2);
    }
}

@keyframes block_2 {
    from {background-color: rgba(0, 255, 0,0.25);}
    to {
        background-color: rgba(0, 255, 0,0.45);
        transform: scaleY(1.2);
    }
}


@keyframes block_3 {
    from {background-color: rgba(255, 0, 0,0.25);}
    to {
        background-color: rgba(255, 0, 0,0.45);
        transform: scaleY(1.3);
    }
}


#container_loading #block_1, #block_2, #block_3{
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0,0.15);
    border-radius: 3px;
}


#container_loading #block_1{
    animation-name: block_1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

#container_loading #block_2{
    animation-name: block_2;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.1s;
}

#container_loading #block_3{
    animation-name: block_3;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.2s;
}